/* -------------------- ROOT VARIABLES --------------------------------------- */
:root{
    /*COLORS*/
    --green: #06A816;
    --orange: #E75D02;
    --black: #000000;
    --white: #ffffff;

    /* -------------------- IMPORTED FONTS -------------------------------------- */
    @import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');
    
}
p{
    font-family: 'Habibi';
}
h1, h2, h3{
    font-family: 'Irish Grover';
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 1.75em;
}
h3{
    font-size: 1.25em;
}


/*-------------------- CSS REST ---------------------------------------------------*/
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
/*-------------------- MEDIA QUERY (medium) --------------------------------*/
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/